:root {
    --lettersGreen: #018C96;
    --lettersGreen2: #016A66;
    --lettersGreen3: #0B160F;
    --letterOrange1: #EB5401;
    --letterOrange2: #EFB52B;
    --letterWhite: #F6EBF9;
    --font1:'Playfair Display', serif;
    --font2: 'Source Sans Pro', sans-serif;
    --font3: "Kalam", cursive; 
    --font4: "Teachers", sans-serif;
    --font5: "Style Script", cursive;
}

.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}

.teachers {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font4);
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

br {
    display: block;
    margin: 20px 0;
}

/* --------------------------------------------------------------------HEADER---------------------------------------------------- */

/* NAV BAR */


.heading {
    text-align: center;
    border-radius: 15px;
    padding: 5px 115px;
    padding-bottom: 0px;
    filter: drop-shadow(2px 3px rgba(0, 0, 0, 0.194));
}

#siteTitle {
    color: var(--lettersGreen2);
    cursor: pointer;
    transition: .5s ease;
}

#siteTitle:hover {
    color: var(--lettersGreen2);
    transform: scale(1.1);
}

#tagline {
    color: var(--letterOrange2);
    background-color: white;
    padding: 0px 65px;
    padding-bottom: 30px;
}

#taglineText {
    font-weight: 700;
    font-size: 40px;
}

.nav-link {
    border: 2px solid rgba(0, 0, 0, 0.329);
    border-radius: 25px;
    padding: 18px;
}

.navbar-brand {
    font-family: var(--font5);
    padding-left: 10px;
    font-size: 70px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--lettersGreen)
}

.letter-day {
    background-color: rgb(111, 196, 196);
    color: rgb(0, 0, 0);
    text-decoration: underline;
    border-radius: 25px;
}

#letterDay {
    font-size: larger;
    font-weight: bold;
}

#heroSection {
    background-color: var(--lettersGreen3);
}

#heroVideo {
    padding: 0;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: 25% 25%;
    height: 800px;
}

#blurb1Title {
    font-weight: 700;
    font-size: 75px;
    color: var(--letterWhite);
}

#blurb1Link {
    font-weight: 600;
    font-size: 25px;
    line-height: 15px;
    color: var(--letterWhite);
    letter-spacing: 2px;
    background-color: var(--letterOrange1);
    border: 1px soild;
    border-radius: 20px;
    padding: 2px 350px;
    padding-top: 15px;
    margin: 10px;
    border: 5px solid transparent;
    transition: .5s ease;
    display: block;
}

#blurb1Link:hover {
    border: 5px solid;
    transform: scale(1.1);
}

#blurb1Button {
    padding-bottom: 150px;
}

#topNav {
    background-color: white;
}

/* TOP HEADER */



/* CONTACT SECTION */

#bioSection1 {
    background-color: var(--letterOrange1);
    padding: 50px 0;
    border: 5px solid rgba(0, 0, 0, 0.329)
}

#contactContainer {
    background-color: white;
    border: solid 3px black;
    border-radius: 20px;
    font-weight: 700;
    padding: 30px;
    position: relative;
    top: 100px;
    width: 460px;
}

#blurb2Greeting{
    font-size: 75px;
    letter-spacing: -3px;
    line-height: 55px;
    margin: 0;
    color: var(--lettersGreen2);
}

#blurb2Title {
    font-size: 20px;
    border: solid 2px var(--letterOrange1);
    border-radius: 60px;
    line-height: 5px;
    padding-top: 15px;
}

#blurb2Contact {
    padding-top: 55px;
    line-height: 15px;
}

#mediaMessage {
    font-size: 27px;
}

#mediaHandle {
    font-weight: 200;
    font-size: 23px;
    font-style: italic;
}

#contactLinkSection {
    padding-top: 50px;
}

#contactLink{
    border: 3px solid black;
    background-color: var(--lettersGreen2);
    color: white;
    font-size: 20px;
    padding-top: 7px;
    letter-spacing: 2px;
    border-radius: 60px;
    height: 50px;
    transition: .5s ease;
}

#contactLink:hover {
    transform: scale(1.1);
}

/* CONTACT SECTION END */



#bioSection2 {
    margin-top: 40px;
    background-color: hsl(177, 46%, 39%);
    padding: 70px 130px;
    border: 5px solid rgba(0, 0, 0, 0.329)
}

#bioSection3 {
    margin-top: 40px;
    background-color: hsl(181, 71%, 62%);
    padding: 70px 130px;
    border: 5px solid rgba(0, 0, 0, 0.329)
}

.name {
    font-family: var(--font1);
    font-size: 48px;
    color: white;
    font-weight: 400;
    font-style: normal;
}

.underline {
    border: 2px solid;
    color: var(--lettersGreen2);
    width: 50px;
}

.bio {
    font-family: "Source Sans Pro", arial, sans-serif;
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: white;
    margin: 10px 18px;
    line-height: 34.5px;
}

.bio3 {
    font-family: "Source Sans Pro", arial, sans-serif;
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 10px 18px;
    line-height: 34.5px;
}

.video-1 {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    border: 5px solid rgba(0, 0, 0, 0.329)
}

.video-2 {
    margin: 0 auto;
    width: 100%;
    padding: auto 32px;
    margin-bottom: 28px;
}

.letter-title {
    font-family: var(--font1);
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.review-title {
    font-family: var(--font1);
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

#envelopeStatic {
    width: 250px;
    position: absolute;
    transition: .1s ease;
}

#envelopeStatic:hover {
    width: 250px;
    opacity: 0;
}

#envelopeActive {
    width: 250px;
}

#coilyHairCover {
    width: 350px;
    transition: .5s ease;
}

#coilyHairCover:hover {
    width: 375px;
    border: 3px solid var(--lettersGreen2);
}

#footerSection{
    background-color: black;
}

.copyright {
    color: gray;
    margin: 0 auto;
    padding: 55px 30px;
    font-size: 15px;
}

@media (max-width: 768px) {
    
    .video-2 {
        height: 192px;
    }

    #bioSection2 {
        margin-top: 40px;
        background-color: hsl(177, 46%, 39%);
        padding: 0;
        border: 5px solid rgba(0, 0, 0, 0.329)
    }

    #bioSection3 {
        margin-top: 40px;
        background-color: hsl(181, 71%, 62%);
        padding: 0;
        border: 5px solid rgba(0, 0, 0, 0.329)
    }
}